.wrapper {
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
}

.link {
  padding: 16px 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: var(--color-black);
}

.left {
  display: flex;
  gap: 16px;
  align-items: center;
}
