.wrapper {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

.userName {
  margin-top: 8px;
  font-size: 1.6rem;
}

.course {
  color: var(--color-gray-300);
  font-size: 1.2rem;
}
