.wrapper {
  padding: 24px 12px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.textAlign {
  display: flex;
  flex-direction: row;
}

.title {
  margin-left: 1rem;
  font-size: 1.6rem;
  line-height: 125%;
}

.timePosition {
  margin-left: 1rem;
  font-size: 1.4rem;
  line-height: 125%;
  color: var(--color-gray-300);
}

.info {
  margin-top: 8px;
  font-size: 1.4rem;
  display: flex;
  gap: 8px;
  color: var(--color-gray-300);
}
