.wrapper {
  margin: 0 auto;
  font-size: 1.6rem;
  font-weight: 500;
}

.header {
  height: 56px;
}

.main {
  height: calc(100vh - 56px - 75px);
}

.nav {
  width: 100%;
}

.menuList {
  display: flex;
  font-size: 1.4rem;
}

.menuItem {
  padding: 14px 0;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 9px;
  font-size: 1.4rem;
}

.menuIcon {
  width: 24px;
}
