.wrapper {
  padding: 24px;
}

.tags {
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  border-radius: 5px;
  color: var(--color-purple-100);
  background-color: var(--color-red-300);
  padding: 6px 10px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 4px;
}

.createdInfo {
  padding: 16px 0;
}

.author {
  font-size: 1.4rem;
}

.createdTime {
  margin-top: 8px;
  font-size: 1.2rem;
  color: var(--color-gray-300);
}

.noticeInfo {
  margin-top: 16px;
}

.title {
  font-weight: var(--font-weight-semibold);
  font-size: 1.6rem;
}

.content {
  margin-top: 8px;
  font-size: 1.4rem;
  line-height: 150%;
}

.tags {
  margin-top: 8px;
}
